<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630201506698-ilfnjl8cp7iqi8gb7qvbbtkf5j3raavg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630201506698-ilfnjl8cp7iqi8gb7qvbbtkf5j3raavg</string>
	<key>API_KEY</key>
	<string>AIzaSyBoAEtj-VJu2mfih9nVRRmffoq4ayIwOHk</string>
	<key>GCM_SENDER_ID</key>
	<string>630201506698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.dair.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f7254</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f7254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630201506698:ios:59ffe2641bdd55f43e8673</string>
</dict>
</plist>